[submodule "libs/Adafruit_Python_CharLCD"]
	path = libs/Adafruit_Python_CharLCD
	url = ./libs/Adafruit_Python_CharLCD
[submodule "libs/Adafruit_Python_DHT"]
	path = libs/Adafruit_Python_DHT
	url = ./libs/Adafruit_Python_DHT
[submodule "libs/Adafruit_Python_GPIO"]
	path = libs/Adafruit_Python_GPIO
	url = ./libs/Adafruit_Python_GPIO
[submodule "libs/Adafruit_Python_PureIO"]
	path = libs/Adafruit_Python_PureIO
	url = ./libs/Adafruit_Python_PureIO
[submodule "libs/Adafruit-Raspberry-Pi-Python-Code"]
	path = libs/Adafruit-Raspberry-Pi-Python-Code
	url = ./libs/Adafruit-Raspberry-Pi-Python-Code
